<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container-fluid">
  
    <div class="header">
      
        <div class="logo">
          <div class="icon"><img src="/assets/icon.png" width="75px"> <div class="icon_text">easy<b>DO</b></div></div>
        </div>
  
        <div class="bg">
          <img src="/assets/bg.png" width="500px">
        </div>
  
        <div class="navigation">
            <a href="#">How it works</a>
            <a href="#">About us</a>
            <a href="#">Contact us</a>
        </div>

        <!-- login -->
        <div class="logreg">
            <button [routerLink]="['/login']" type="button" id="login">Login</button>

            <!-- registration -->
            <button [routerLink]="['/registration']" type="button" id="registration">Registration</button>
        </div>
  
        <div class="headline">
          <h1>Enjoy your live again!</h1>
        </div>
  
        <div class="head_text">
            Put things into easyDO and don't keep them in your mind anymore.<br>
            <b>Simple - Easy - Reliable - FREE</b><br><br>
            <button type="button" class="btn btn-light">Get Started</button>
            <button type="button" class="btn btn-dark">Find out more!</button>
  
        </div>
  
    </div>
  
    <div class="content">
      <h1>Organize yourself better and get more DONE!</h1>
      Your day can feel overcoming, but it doesn’t have to if you use EasyDO<br>
      Register today and use our service for <b>free</b>!
    </div>
  </div>
  <hr>
  <footer class="container-fluid">
    <div class="icon_text_bottom">easy<b>DO</b></div>
    <div class="footer">
        <a href="#">How it works</a> |
        <a href="#">About us</a> |
        <a href="#">Contact us</a>
    </div>
  </footer>